body {
    background-color: whitesmoke;
}

.master-cont {
    min-height: 88.5vh;
    margin-top: 150px;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .master-cont {
        margin-top: 90px;
    }

    .img-container {
        padding-bottom: 50vh !important;
    }

    body, html {
        font-size: x-small;
    }
}

@media (max-width: 767px) {
    .img-container {
        padding-bottom: 40vh !important;
    }
}

@media (max-width: 500px) {
    .img-container {
        padding-bottom: 30vh !important;
    }

    .img-row .img-sec {
        height: 65px;
    }
}

.main-card {
    border-radius: 20px;
    box-shadow: 5px 5px 16px 2px rgba(0, 0, 0, 0.25);
}

.widthFix {
    width: 97% !important;
}

.img-row .img-sec {
    height: 100px;
}

.expandedImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-container {
    margin-left: 10px !important;
    margin-top: 20px;
    margin-right: 20px;
    width: 100%;
    height: 0;
    padding-bottom: 70vh;
    position: relative;
    overflow: hidden;
    background-color: black; /* Set the background color to black */
}

.li-details {
    font-size: medium;
}

.desc-main {
    font-size: medium;
    white-space: pre-wrap;
}