body{
    background-color: whitesmoke;
}

.master-cont{
    min-height: 88.5vh;
    margin-top: 150px;
    margin-bottom: 50px;
}

.main-card{
    border-radius: 20px;
    box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);
}

.img-main{
    height: 480px;
}

@media (max-width:1399px) {
    .sub-row{
        padding-right: 50px !important;
    }
}

@media (max-width:1199px) {
    .img-main{
        margin-left: 0px !important;
        height: 380px;
    }
}

@media (max-width:991px) {
    .img-main{
        margin-left: 0px !important;
        height: 310px;
    }
}

@media (max-width:449px) {
    .img-main{
        margin-left: 0px !important;
        height: 255px;
    }
}

@media (max-width:369px) {
    .sub-row{
        width: 305px !important;
    }
}

.img-sec{
    height: 10vh;
}

.img-container{
    margin-left: -200px;
    margin-top: 20px;
    margin-right: 20px;
}

.sub-row{
    width: 400px;
}

.li-details{
    font-size: large;
}