body{
    background-color: whitesmoke;
}

.master-cont{
    min-height: 88.5vh;
    margin-top: 150px;
    margin-bottom: 50px;
}

.main-card{
    border-radius: 20px;
    box-shadow: 5px 5px 16px 2px rgba(0,0,0,0.25);
}

.img-main{
    margin-left: 5px !important;
}

@media (max-width:1199px) {
    .img-main{
        margin-left: 5px !important;
    }
}

@media (max-width:991px) {
    .img-main{
        margin-left: 5px !important;
    }
}

@media (max-width:449px) {
    .img-main{
        margin-left: 5px !important;
    }
}

.img-container{
    margin-left: -200px;
    margin-top: 20px;
    margin-right: 20px;
}

.li-details{
    font-size: medium;
}

.desc-main{
    font-size: medium;
    white-space: pre-wrap;
}