{% extends 'base.html' %}
{% load static %}
{% block title %}Available Properties{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/style-browse.css' %}">{% endblock css %}

{% block body %}
<div class="container master-cont">
    <div class="row">
        <div class="card property-card">
            <div class="property-image"
                style="background: url('karytonndev_background.jpg') center / contain;">
            </div>
            <div class="card-body d-flex flex-column" style="height: 262px;">
                <div>
                    <h4 style="font-family: 'Source Sans Pro', sans-serif;font-weight: 700;color: rgb(255,160,0);">
                        2 BHK Flat in Sector-14</h4>
                    <h6 class="text-muted mb-2"
                        style="font-family: 'Source Sans Pro', sans-serif;font-weight: 600;color: #757575;">
                        House</h6>
                    <p style="font-family: 'Source Sans Pro', sans-serif;color: #212121;margin-top: 16px;">
                        - 2 Bedrooms<br>
                        - 1 Car Parking<br>
                        - 1756 sq. ft.<br>
                    </p>
                </div><a class="card-link align-self-end link-full-view" href="#">View Property</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}