{% extends 'base.html' %}
{% load static %}
{% block title %}{{prop.slug}}{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/style-property.css' %}">{% endblock css %}

{% block body %}
<div class="container master-cont">
    <div class="card">
        <div class="container-fluid top-container">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 offset-xl-2">
                    <div class="img-container img-main"><img class="rounded img-main" id="expandedImg" style="width:100%"
                            src="/media/{{prop.img1}}">
                        <div id="imgtext"></div>
                    </div>
                    <div class="row img-row my-2 sub-row" style="padding-right: 10px;padding-left: 10px;">
                        <div class="col column img-sec"><img class="img-thumbnail img-fluid img-sec" src="/media/{{prop.img1}}"
                                onclick="myFunction(this);" alt="image 1"></div>
                        <div class="col column img-sec"><img class="img-thumbnail img-fluid img-sec" src="/media/{{prop.img2}}"
                                onclick="myFunction(this);" alt="image 2"></div>
                        <div class="col column img-sec"><img class="img-thumbnail img-fluid img-sec" src="/media/{{prop.img3}}"
                                onclick="myFunction(this);" alt="image 3"></div>
                        <div class="col column img-sec"><img class="img-thumbnail img-fluid img-sec" src="/media/{{prop.img4}}"
                                onclick="myFunction(this);" alt="image 4"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4 offset-xl-0">
                    <h1>{{prop.title}}</h1><img src="/5-star-rating.svg" width="120px" style="padding-bottom: 5px;">
                    <h2>$14.95</h2>
                    <p style="font-size: 20px;">{{prop.description}}</p>
                    <ul>
                        <li>Fit type: men, women, kids<br></li>
                        <li>Sizes: XS to 4XL<br></li>
                        <li>Machine wash cold, dry low heat<br></li>
                        <li>Double-needle sleeve and bottom hem<br></li>
                        <li>Lightweight<br></li>
                        <li>Classic fit<br></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/image-expand.js' %}"></script>
</div>
{% endblock body %}